---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'

import { Image } from 'astro:assets'
import astro from '../assets/michaelschmidt.png'

const languages = ['German (Native)', 'English (Fluent)', 'Russian (Intermediate)']
const frontend = [
	'HTML',
	'CSS',
	'React',
	'Next.js',
	'Tailwind CSS',
	'Material UI',
	'React Native',
	'Astro.js'
]
const backend = ['REST', 'RPC', 'Node.js', 'Express', 'Spring Boot', 'Serverless Functions']
const database = ['SQL', 'NoSQL', 'Key/Value Stores', 'DynamoDB', 'PostgreSQL']
const cloud = ['AWS', 'Azure', 'Firebase', 'Vercel']
const design = ['Figma', 'Canva']
const programming = ['TypeScript', 'JavaScript', 'Java', 'Python']
const others = ['Git', 'Scrum', 'DevOps', 'CI/CD', 'Docker', 'Attlassian Toolchain']
---

<PageLayout meta={{ title: 'Portfolio - Michael Schmidt' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<div class='flex items-center justify-center'>
			<section class='grid grid-cols-1 items-center gap-x-8 gap-y-7 md:grid-cols-2'>
				<div
					class='flex h-40 w-40 items-center justify-center justify-self-center rounded-full bg-[#E6F6FF] md:justify-self-end'
				>
					<div class='flex h-28 w-28 items-center justify-center rounded-full'>
						<Image src={astro} alt='profile photo' class='h-auto w-full' loading='eager' />
					</div>
				</div>
				<div class='flex flex-col items-center gap-y-4'>
					<h1 class='text-3xl font-bold'>Michael Schmidt</h1>
					<div
						class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
					>
						<span class='relative flex items-center justify-center'>
							<span
								class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
							></span>
							<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
						</span>
						<p class='font-medium'>Full Stack Software Engineer</p>
					</div>
					<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
						<Label
							as='a'
							href='https://www.google.com/maps/place/Regensburg/@49.0215514,12.0279406,12z/data=!3m1!4b1!4m6!3m5!1s0x479fc19872222ef7:0x41d25a40937cb10!8m2!3d49.0134297!4d12.1016236!16zL20vMGQzNF8?authuser=0&entry=ttu'
							target='_blank'
							title='Germany, Regensburg'
						>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 24 24'
								class='h-5 w-5'
								slot='icon'
							>
								<path
									fill='currentColor'
									d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
								></path>
							</svg>
						</Label>
						<Label
							as='a'
							href='https://www.google.com/maps/place/Regensburg/@49.0215514,12.0279406,12z/data=!3m1!4b1!4m6!3m5!1s0x479fc19872222ef7:0x41d25a40937cb10!8m2!3d49.0134297!4d12.1016236!16zL20vMGQzNF8?authuser=0&entry=ttu'
							target='_blank'
							title='schmidt.m.dev@gmail.com'
						>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 24 24'
								class='h-5 w-5'
								slot='icon'
							>
								<path
									fill='currentColor'
									d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
								></path>
							</svg>
						</Label>
						<Label
							title='LinkedIn'
							as='a'
							href='https://www.linkedin.com/in/michael-schmidt-081a4b17b/'
							target='_blank'
						>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 16 16'
								slot='icon'
								class='h-5 w-5 text-foreground/75'
							>
								<path
									fill='currentColor'
									d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
								></path>
							</svg>
						</Label>
						<!-- <Label title='Github' as='a' href='https://github.com/michischmidt' target='_blank'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								viewBox='0 0 30 30'
								class='h-5 w-5 text-foreground/75'
							>
								<path
									fill='currentColor'
									d='M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z'
								></path>
							</svg>
						</Label> -->
					</div>
				</div>
			</section>
		</div>
		<Section title='Abstract'>
			<p class='text-muted-foreground'>
				Passionate Full-Stack Software Developer with over 5 years of experience. Enthusiastic about
				working on challenging projects with experts, learning new technologies, and gaining
				practical knowledge.
			</p>
		</Section>
		<Section title='Experience'>
			<Card
				heading='Grow Ghana EDU - Ghana, Kokrobite'
				'
				subheading='Volunteer & Teacher'
				date='Dec 2023 - Mar 2024'
				altText='Software Engineer & IT-Consultant'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Teaching young underprivileged students in in Ghana about basic computer skills with
						Scratch, soft skills and beginner Python courses.
					</li>
					<li>Supporting the local team in mangaging the daily NGO business.</li>
				</ul>
			</Card>
			<Card
				heading='trinnovative GmbH - Germany, Regensburg'
				'
				subheading='Software Engineer & IT-Consultant'
				date='Apr 2022 - Dec 2023'
				altText='Software Engineer & IT-Consultant'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Developing a custom React component library with Tailwind CSS and implementing a web
						portal for multiple stakeholders for a customer.
					</li>
					<li>
						Designing, coordinating, and implementing an internal intranet for existing and new
						self-services using Figma, Kubernetes, Azure, Turborepo, React, and Material UI.
					</li>
					<li>
						Giving interal and external trainings for developers in React and Distributed Systems.
					</li>
					<li>
						Implementing and updating a React frontend with Material UI for a generic logisctics
						depostion software for a customer.
					</li>
				</ul>
			</Card>
			<Card
				heading='trinnovative GmbH - Germany, Regensburg'
				subheading='Working Student'
				date='Apr 2019 - Apr 2022'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Researching, designing, and implementing my Bachelor's thesis for a cost-effective
						multi-tenant SaaS solution for a generic booking app for AWS using Adobe XD, AWS
						services, Serverless architecture, React, Material UI and Express.
					</li>
					<li>
						Supporting the team in external projects frontend development with React and Material
						UI.
					</li>
					<li>Updating the subscription payment of a React frontend using Stripe.</li>
				</ul>
			</Card>
			<Card
				heading='Daimler AG - Germany, Stuttgart'
				subheading='App Development Intern'
				date='Aug 2018 - Jan 2019'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Creation of a PoC API for push notifications for an internal employee self-service app
						using Java, Firebase and interal API's.
					</li>
					<li>
						Supporting the team in feature development, quality analysis and communication between
						departures.
					</li>
				</ul>
			</Card>
		</Section>

		<Section title='Education'>
			<Card
				heading='University of Regensburg'
				subheading='Master of Science in Media Computer Science (On hold)'
				date='Dec 2022 - Nov 2023'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			/>
			<Card
				heading='University of Applied Sciences of Regensburg'
				subheading='Bachelor of Science in Computer Science'
				date='Dec 2022 - Nov 2023'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-12 w-auto md:-left-16'
			/>
		</Section>
		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Database' skills={database} />
			<SkillLayout title='Cloud' skills={cloud} />
			<SkillLayout title='Design' skills={design} />
			<SkillLayout title='Progamming' skills={programming} />
			<SkillLayout title='Others' skills={others} />
		</Section>
		<Section title='Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='https://frontstart.de'
					heading='Frontstart - React Training'
					subheading='Landing Page for React Training Programm I created. Build with Next.js, React, Tailwind and hosted on Vercel.'
					imagePath='/src/assets/frontstart.png'
					altText='Example'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/coming-soon.png'
					altText='Lorem, ipsum dolor sit'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		<Section title='Certifications'>
			<Card
				heading='oose iSQB Qualification - Germany, Hamburg'
				subheading='Infrastructure, Container & Cloud Native'
				imagePath='/src/assets/about-astro.png'
				altText='Lorem, ipsum dolor sit'
				imageClass='h-11 w-auto md:-left-16'
			/>
		</Section>
	</div>
</PageLayout>
